<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

  <!-- settings -->
  <settings>
    <setting name="mapUnderscoreToCamelCase" value="true"/>
  </settings>
  
  <!-- typeAliases -->
  <typeAliases>
    <typeAlias alias="AccessHistoryDto" type="com.gdu.myapp2.dto.AccessHistoryDto"/>
    <typeAlias alias="LeaveUserDto"     type="com.gdu.myapp2.dto.LeaveUserDto"/>
    <typeAlias alias="UserDto"          type="com.gdu.myapp2.dto.UserDto"/>
    <typeAlias alias="BbsDto"           type="com.gdu.myapp2.dto.BbsDto"/>
    <typeAlias alias="BlogDto"          type="com.gdu.myapp2.dto.BlogDto"/>
    <typeAlias alias="BlogImageDto"     type="com.gdu.myapp2.dto.BlogImageDto"/>
    <typeAlias alias="CommentDto"       type="com.gdu.myapp2.dto.CommentDto"/>
    <typeAlias alias="UploadDto"        type="com.gdu.myapp2.dto.UploadDto"/>
    <typeAlias alias="AttachDto"        type="com.gdu.myapp2.dto.AttachDto"/>
  </typeAliases>
  
</configuration>